<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is who I am.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>First the basics: I'm an anti social, middle aged British guy with great manners but a general distrust
                    in other humans. I've met some truly wonderful people over the years, but let's be honest here, most
                    of you suck. <br>
                    I have children, a wife and a mountain of debt. I drive a car I'm almost ashamed of and the life experience
                    of a 140 year old. I was a Software Engineer for 10 years until I finally burned out,
                    and now I write posts where I bitch and moan about whatever first world problem happens to be
                    getting under my skin.
                </p>
                <p>My childhood was too colourful to put on an about me page, but let's just say I grew up in poverty
                    with a murderous father, clawed my way to a University Degree in my late 20's and have done 
                    everything from day drinking in a bus stop in my tracksuit, to giving presentations to board
                    members on how to save them millions of pounds per annum.
                </p>
                <p>For fun I like to play my guitar, piano or PS5, I ride a motorcycle to keep my sanity (or escape my children)
                    and I don't drink alcohol or take drugs.
                </p>
            </div>
        </div>
    </div>
</main>