<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is who I am.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p> 
                    I'm an anti social, middle aged man with good manners and a general distrust
                    in other human beings. I have met some truly wonderful people over the years, but let's be honest, most
                    of you suck. <br>
                    I have children, a wife and a mountain of debt to accompany it. I drive a 20 year old Citreon and have 
                    the life experience of a someone 100 years older than me. I was a successful Software Engineer for many years until I finally burned out 
                    (or had a breakdown, the jury is still out), and now I write posts for internet strangers hoping it will afford me food and rent.
                </p>
                <p>My childhood was too colourful to put on the internet, but let's just say I grew up fast. I was booted from school
                    at 13, spent a few years either on the dole or working awful jobs, then clawed my way to a University Degree in my late 20's
                    and have done everything from unemployed day drinking in a bus stop, to giving presentations on how to save a company millions
                    in revenue.
                </p>
                <p>
                    My personality and interests are quite varied, I can be a mega nerd and spend hours building a PC or gaming, but then I'm also comfortable
                    plastering a wall, digging up the garden or sparring with the lads.
                </p>
                <p>For fun I like to play guitar, video games or movies/shows, and when I can be bothered: exercise!
                    I ride a motorcycle to keep my sanity (or escape my children), I like boxing and used to do it myself,
                    but dislike all other sports. Yes, that's right, watching millionaires chasing bags of wind does not entertain me.
                </p>
                <p>
                    In general I like to think I am (as my son would say), a chill guy.
                </p>
            </div>
        </div>
    </div>
</main>