trigger:
- main

steps:
# Install Node.js
- task: NodeTool@0
  inputs:
    versionSpec: '22.x'
    displayName: 'Install Node.js'

# Install Angular CLI
- script: npm install -g @angular/cli
  displayName: 'Install Angular CLI'

# Install dependencies
- script: npm install
  workingDirectory: src
  displayName: 'Install Dependencies'

# Build the application
- script: ng build --prod
  workingDirectory: src
  displayName: 'Build Application'

# Publish build artifacts
- task: PublishBuildArtifacts@1
  inputs:
    pathtoPublish: 'dist/dadsnotebook/browser'
    artifactName: 'angular-build'