
# Build a Node.js project that uses Angular.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install -g @angular/cli
    npm install
    ng build
  displayName: 'npm install and build'
- task: AzureWebApp@1
  inputs:
    azureSubscription: 'Pay-As-You-Go(1)(effd4309-842a-40a0-a6a7-3727cd74e6fe)'
    appType: 'webAppLinux'
    appName: 'DadsNotebook'
    deployToSlotOrASE: true
    resourceGroupName: 'thewatson_rsg'
    slotName: 'production'
    package: '$(System.DefaultWorkingDirectory)/**/*.zip'
    runtimeStack: 'NODE|22-lts'
    startUpCommand: 'ng start'