<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Registration</h1>
                    <h2 class="subheading">Please fill in the form below to join the family...
                    </h2>
                </div>
            </div>
        </div>
    </div>
</header>
<form [formGroup]="registerForm">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <label for="username">Username: </label>
                <input id="username" type="text" formControlName="username" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <label for="Email">Email: </label>
                <input id="email" type="text" formControlName="email" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <label for="password">Password: </label>
                <input id="password" type="text" formControlName="password" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <label for="repeatPassword">Repeat password: </label>
                <input id="repeatPassword" type="text" formControlName="repeatPassword" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <label for="subscribe">Allow us to send you email updates?</label>
                <input id="subscribe" type="checkbox" [value]="true" formControlName="subscribe" />
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="d-flex justify-content-end mb-4">
                    <input type="button" class="btn btn-primary" (click)="updateName()" value="Update Name" />
                </div>
            </div>
        </div>
    </div>
</form>