<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>Registration</h1>
                    <h2 class="subheading">Please fill in the form below to join the family...</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<form [formGroup]="form">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <mat-form-field>
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput formControlName="password">
                </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <mat-form-field>
                    <mat-label>Repeat password</mat-label>
                    <input matInput formControlName="repeatPassword">
                </mat-form-field>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <mat-slide-toggle id="subscribe" formControlName="subscribe"
                    labelPosition="before">Allow us to send you email updates?</mat-slide-toggle>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="d-flex justify-content-end mb-4">
                    <section>
                        <div class="example-button-row">
                          <button mat-raised-button (click)="registerNewUser()">Submit</button>
                        </div>
                      </section>
                </div>
            </div>
            <div class="col-md-6 col-lg-5 col-xl-4">
                <div class="d-flex justify-content-end mb-4">
                </div>
            </div>
        </div>
    </div>
</form>