<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{article.heading}}</h1>
                    <h2 class="subheading">
                        <i>
                            {{article.subHeading}}
                        </i>
                    </h2>
                    <span class="meta">
                        <i>
                            Posted by
                            <a href="#!">{{article.author}}</a>
                            on {{article.dateCreated | ordinalDate}}
                        </i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>I would often look back at my most prideful day in 2015, in my black gown and graduation hat
                    getting ready to walk on stage to receive my degree. I was going to be a Software Engineer, 
                    it was almost impossible to contain my excitement!<br>
                    Unlike my classmates, I had already worked many unskilled, mundane, manual labour, 
                     soul destroying jobs since leaving school, but at the age of 25 I decided I'd go back 
                     to school and chase a career in something I actually enjoy, something that challenges me,
                     and hopefully doesn't pay to bad either. <br>
                     I actually did it too, starting from ground zero as a <i>'troubled lad that was 
                    expelled from school at 13'</i> I got my GCSE's, then took my A Levels, then onto University
                    for my degree in Software Engineering and Cyber Security.
                    <br>
                    Compared to spending my days working in warehouses or on building sites, the first year in University was easy.
                    I was often home by 2pm, and any time spent learning felt like an investment, It got harder
                    of course, but I think higher education is actually easier as you get older. I had no desire to party
                    all night like my piers, I just wanted my qualifications and career.
                </p>
                <p>Now don't get me wrong I'm not one of those people that think it was wasted, or that 
                    University was a rip off (okay yes a little, my student debt is astronomical).
                    For the first few years I LOVED my job, I was specialized and respected 
                    and the pay was decent. I wouldn't change my journey from unqualified layabout to 
                    Senior Engineer for anything. The cracks started to form a few years into my career...
                </p>

                <h2 class="section-heading">Work life balance</h2>
                <p>It didn't even feel like 'work' at first, when you've experienced 18 hour shifts and laboured in 
                    the precast concrete industry, Software Engineering felt like I was getting paid to sit on my ass and have fun. 
                    <blockquote class="blockquote">Do what you love and you'll never work a day in your life</blockquote>
                <p>What they don't tell you is that if you do what you enjoy 40+ hours per week, year on year 
                    while having deadlines and "difficult" managers, you slowly start to not enjoy it anymore.
                <br><br>
                    I changed company multiple times, then became a subcontractor, then freelancer, I also changed sector 
                    (Finance, then Military, then Tourism, then Healthcare etc), but none of it helped.
                    Suddenly I was back to dreading Monday mornings, counting the hours until I could finally finish,
                    and while it wasn't really 'hard' work like my grafting days, my drive to write code was gone
                    and no amount of effort could change that.

                </p>
                <h2 class="section-heading">Empty inside</h2>
                <p>It is so hard to describe burnout, the only way I can put it to words is an empty feeling.
                    I sit at my desk with my 'to-do' list in front of me, but I just can't bring myself to do it.
                    I would wake up some mornings and think, "I'm going to knuckle down today and be super productive",
                    then I suddenly find myself watching a YouTube video explaining why farmers dislike a new tax law.
                    (I don't know why, I don't even know any farmers)<br>
                    Anything and everything else was suddenly more interesting than my job, I would rather take a 40 minute
                    toilet break while doom scrolling Facebook, than write 60 lines of code to meet my deadlines.<br><br>
                    What the hell am I going to do? Years of studying, working overtime into the early hours, 
                    gritting my teeth at infuriating colleagues and a monstrous student loan debt, 
                    I'm finally at the top end of my career, it's what I strived for but I can't help but hate doing it...
                </p>

                <a href="#!"><img class="img-fluid" src="assets/img/post-sample-image.jpg" alt="..." /></a>
                <span class="caption text-muted">A new chapter</span>
                <p>So here I am, unemployed, broke and wondering what on earth I'm going to do. I'm building a couple
                    of websites and bits of software alongside this blog, hoping, praying that one of them can generate 
                    enough money to keep me alive. The thought of returning to the office again makes me sink into the 
                    darkness so I'm avoiding that at all costs, hopefully working for myself will somehow fix this. <br><br>
                    Have you ever experienced anything similar? Maybe you feel it right now.<br>
                    How did you, or will you, get out of this hole? For me, I think self employment is the answer.
                    I'm happy when doing my own thing, though it seems like such a daunting and scary path.
                </p>
            </div>
        </div>
    </div>
</article>